// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// End Reset

// Variables
@lg-font-size: 3.0rem;
@md-font-size: 1.75rem;
@sm-font-size: 1.0rem;
@title-color: #0E4749; // Jungle green
@subtitle-color: #E55812; // Flame red
@container-bk-color: #EFE7DA; // Eggshell

/* Mixins */

// Positional mixins
.flex {
	display: flex;
}

.center {
	.flex();
	justify-content: center;
	align-items: center;
}

.centered-around {
	.flex();
	justify-content: space-around;
	align-items: center;
}

// Color and font mixins


/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	max-width: 100%;
	font-size: 62.5%;
}

html, body {
	height: 100%;
}

.main-container {
	width: 85%;
	margin: 0 auto;
	border: 1px solid black;
	padding: 1rem;
	background-color: @container-bk-color;

	header {
		width: 100%;

		nav {
			.nav-items {
				.centered-around();
				border: 1px solid black;
			}

			.nav-item {
				text-decoration: none;
				font-size: calc(@md-font-size - 50%);
				color: black;

				&:hover {
					color: @subtitle-color;
				}
			}
		}

		.two-columns {
			.flex();
			margin: 1rem 0rem;

			.text-header-content {
				width: calc(100%/2);
				border: 1px solid black;
				padding: 1.0rem;
				.flex();
				flex-direction: column;
				justify-content: space-between;

				.title, .intro {
					border: 1px solid black;
					height: calc(100%/2 - 1.0rem);
				}
			}

			.img-header-content {
				.flex();
				width: calc(100%/2);
				border: 1px solid black;
			}
		}
	}

	h1 {
		font-size: @lg-font-size;
		color: @title-color;
	}

	h2 {
		font-size: @md-font-size;
		color: @subtitle-color;
	}

	h3 {
		font-size: @sm-font-size;
	}
}