// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// End Reset

// Variables
@lg-font-size: 5.0rem;
@md-font-size: 2.0rem;
@sm-font-size: 1.0rem;
@subtitle-font-size: 2.0rem;
@title-color: #0E4749; // Jungle green
@subtitle-color: #E55812; // Flame red
@section-color: #002626; // Dark green
@container-bk-color: #EFE7DA; // Eggshell

/* Mixins */
// Positional mixins
.flex {
	display: flex;
}

.center {
	.flex();
	justify-content: center;
	align-items: center;
}

.centered-around {
	.flex();
	justify-content: space-around;
	align-items: center;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Helvetica&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	max-width: 100%;
	font-size: 62.5%;
}

html, body {
	height: 100%;
}

.main-container {
	width: 85%;
	margin: 0 auto;
	border: 1px solid black;
	padding: 2rem 3rem;
	background-color: @container-bk-color;
	font-family: 'Roboto Slab';

	header {
		width: 100%;
		border-bottom: 2px solid @section-color;

		nav {
			.nav-items {
				.centered-around();
				margin-bottom: 2.0rem;
			}

			.nav-item {
				text-decoration: none;
				font-size: calc(@md-font-size - 50%);
				color: black;

				&:hover {
					color: @subtitle-color;
					transform: scale(1.1);
					transition: 0.3s ease;
				}
			}
		}

		.two-columns {
			.flex();
			margin: 1rem 0rem;
			max-height: 100%;

			.text-header-content {
				width: calc(100%/2);
				padding-right: 2.0rem;
				.flex();
				flex-direction: column;
				justify-content: space-between;

				.title {
					text-align: center;
					height: calc(100%/2 - 1.0rem);
					.center();
					flex-direction: column;
					
					h3 {
						font-size: @subtitle-font-size;
					}
				}

				.intro {
					height: calc(100%/2 - 1.0rem);

					h2 {
						padding: 1rem 0rem;
					}

					p {
						line-height: 1.33rem;
					}
				}


			}

			.img-header-content {
				.flex();
				width: calc(100%/2);
				position: relative;
				height: 100%;
				overflow: hidden;
				border-radius: 50%;
				border: 2px solid @section-color;	

				img {
					display: inline;
					margin: 0 auto;
				}

			}
		}
	}

	.main-content {
		.flex();
		padding-top: 1.0rem;
		
		.content-column {
			.flex();
			flex-direction: column;
			margin-right: 2.0rem;
		
			.content-tile{
				margin: 1rem 0rem;
				border-bottom: 1px solid darkgreen;

				p {
					line-height: 1.33rem;
				}
			}

			h2 {
				padding-top: 1.0rem 0rem;
			}
		}
	}

	h1 {
		font-size: @lg-font-size;
		color: @title-color;
	}

	h2 {
		font-size: @md-font-size;
		color: @section-color;
	}

	h3 {
		font-size: @sm-font-size;
		color: @subtitle-color;
	}


}